@media(max-width:768px){
    #message1{
        width:100%;
        height:81%;
        float: right;
        background-color: transparent;
        overflow-y: scroll;
    }
    .header{
        width:70%;
        height:100%;
        position: absolute;
        background-color: white;
        overflow-x:hidden;
        overflow-y: hidden;
        border-right: 1px solid rgb(99, 99, 99);
        z-index: 1;
        display: none;
    }
    .closeh{
        visibility: visible;
        background-color:transparent;
        border:0px;
        margin-bottom: 30px;
        float: left;
    }
    #usermsg{
        width:70%;
        height:fit-content;
        background-color:rgb(206, 206, 206) ;
        margin: 15px;
        margin-left: 15%;
        color: rgb(0, 0, 0);
        border-radius: 10px;
    }
    #pblcmsg{
        width:70%;
        height:fit-content;
        background-color:rgb(255, 255, 255) ;
        margin: 15px;
        margin-left: 15%;
        border: 1px solid gray;
        color: rgb(0, 0, 0);
        border-radius: 10px;
    }
    form{
        float: right;
        display: flex;
        flex-direction: row;
        border-radius: 50px;
        position: fixed;
        bottom:0px;
        right: 0px;
        width:90%;
        background-color: rgb(255, 255, 255);
        margin: 10px 5%;
        border:1px solid rgb(114, 114, 114)
    }
    #send{
        height:55px;
        width: 85px;
        border-radius: 70px;
        border: 0ch;
        background-color: rgb(54, 86, 145);
        color: white;
        font-size: 33px;
    }
    #text{
        height:45px;
        border-radius: 50px;
        margin: 5px;
        border: 0ch;
        font-size: 20px;
        width:85%;
        background-color: rgb(255, 255, 255);
    }
    #upload{
        height:45px;
        width:75px;
        border-radius: 60px;
        margin: 5px;
        border: 0ch;
        background-color: rgb(255, 255, 255);
        color:rgb(36, 105, 252) ;
        font-size: 35px;
    }
    #ham{
        width:60px;
        height:60px;
        background-color: transparent;
        font-size:30px;
        border:0px;
        display: inherit;
        position: relative;
    }
    .space{
        width:100%;
        height:10%;
        background-color: rgb(255, 255, 255);
    }
    .scroll{
        height:40px;
        width: 40px;
        position: absolute;
        bottom: 100px;
        right: 50px;
        font-size: 30px;
        border-radius: 100px;
        border: 0px;
        background-color: gray;
    }
    .scroll-rcv{
        height:40px;
        width: 40px;
        position: absolute;
        bottom: 100px;
        right: 50px;
        font-size: 30px;
    }
    .option{
        width:94%;
        text-align: left;
        height: 45px;
        margin: 4% 3%;
        font-size: 25px;
        border-radius: 35px;
        border: none;
        line-height: 45px;
        background-color: white;
    }
}
@media(max-width:425px){
    ::-webkit-scrollbar{
        display: none;
        
    }
    #message1{
        width:100%;
        height:78%;
        float: right;
        background-color: transparent;
        overflow-y: scroll;
    }
    .header{
        width:70%;
        height:100%;
        position: absolute;
        background-color: white;
        overflow-x:hidden;
        overflow-y: hidden;
        border-right: 1px solid rgb(99, 99, 99);
        z-index: 1;
        display: none;
    }
    .closeh{
        visibility: visible;
        background-color:transparent;
        border:0px;
        margin-bottom: 30px;
        float: left;
    }
    #usermsg{
        width:75%;
        height:fit-content;
        background-color:rgb(206, 206, 206) ;
        margin: 15px;
        margin-left: 12.5%;
        color: rgb(0, 0, 0);
        border-radius: 10px;
    }
    #pblcmsg{
        width:75%;
        height:fit-content;
        background-color:rgb(255, 255, 255) ;
        margin: 15px;
        margin-left: 12.5%;
        border: 1px solid gray;
        color: rgb(0, 0, 0);
        border-radius: 10px;
    }
    form{
        float: right;
        display: flex;
        flex-direction: row;
        border-radius: 50px;
        position: fixed;
        bottom:0px;
        right: 0px;
        width:90%;
        background-color: rgb(255, 255, 255);
        margin: 10px 5%;
        border:1px solid rgb(114, 114, 114)
    }
    #send{
        height:45px;
        width: 85px;
        border-radius: 70px;
        border: 0ch;
        background-color: rgb(54, 86, 145);
        color: white;
        font-size: 25px;
    }
    #text{
        height:35px;
        border-radius: 50px;
        margin: 5px;
        border: 0ch;
        font-size: 15px;
        width:85%;
        background-color: rgb(255, 255, 255);
    }
    #upload{
        height:35px;
        width:50px;
        border-radius: 60px;
        margin: 5px;
        border: 0ch;
        background-color: rgb(255, 255, 255);
        color:rgb(36, 105, 252) ;
        font-size: 25px;
    }
    #ham{
        width:60px;
        height:60px;
        background-color: transparent;
        font-size:30px;
        border:0px;
        display: inherit;
        position: relative;
    }
    #like{
        font-size: 20px;
    }
    #delete{
        font-size: 20px;
    }
    .space{
        width:100%;
        height:10%;
        background-color: rgb(255, 255, 255);
    }
    .message{
        font-size: small;
    }
    #profimg{
        width:50px;
        height:50px;
        padding: 10px;
        border-radius: 65px;
    }
    .name-user{
        font-size: 15px;
        font-weight: bold;
        padding:25px 0px;
    }
    .scroll{
        height:35px;
        width: 35px;
        position: absolute;
        bottom: 75px;
        right: 10px;
        font-size: 30px;
        border-radius: 100px;
        border: 0px;
        background-color: gray;
    }
    .scroll-rcv{
        height:35px;
        width: 35px;
        position: absolute;
        bottom: 75px;
        right: 10px;
        font-size: 30px;
    }
    .option{
        width:94%;
        text-align: left;
        height: 45px;
        margin: 4% 3%;
        font-size: 20px;
        border-radius: 35px;
        border: none;
        line-height: 45px;
        background-color: white;
    }
}
@media(max-width:320px){
    .option{
        width:94%;
        text-align: left;
        height: 45px;
        margin: 4% 3%;
        font-size: 15px;
        border-radius: 35px;
        border: none;
        line-height: 45px;
        background-color: white;
    }
    .scroll{
        height:30px;
        width: 30px;
        font-size: 25px;
    }
    .scroll-rev{
        height:30px;
        width: 30px;
        font-size: 25px;
    }
}