<title>Donate-VJSP</title>
<style>
	.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: -50%;
}
.p{
	position: relative;
	top: 50px;
  text-align: center;

}
.button {
  transition-duration: 0.4s;
  background-color: green;
  position: relative;
  bottom: 30px;
  left: 30px;
  text-align: center;
}
.button{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
</style>
<br>
<br><br>
<br><br>
<br><br>
<br>
<img src="/static/images/qr.jpg" alt="Paris" class="center">
<p class="p"><strong>Gpay</strong></p>
<button class="button" onclick="window.location='/user/dashboard'">Go Back/No Donation</button>