<html>
    <head>
        <meta name="viewport" content="width=device-width ,initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/mobile.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <script src="/static/main.js">
        </script>
    <body>
            <button id="ham" onclick="ham()"><i class="fa fa-navicon"></i></button>
            <div class="header" id="header">
            <div class="myself" id="myself">
                <button id="close" onclick="exit2()"><i class="fa fa-close"></i></button>
                <img src="/static/prof.jpg" id="profile-pic" class="profile-pic">
                <button id="/static/upload-img" class="upload-img">Upload</button>
            </div>
               
                <div id="users" class="users">
                    <div id="update_user_here" >
                        <button id="close" onclick="exit()"><i class="fa fa-close"></i></button>

                    {%for i in users%}

                    <section class="user" id="user"><img src="/static/prof.jpg" id="users-profile"><b>{{i}}</b></section>
                            
                    {%endfor%}
                    </div>
                </div>
                <div id="archive" class="archive">
                    <button id="close" onclick="exit1()"><i class="fa fa-close"></i></button>
                    {%for i in old%}
                        <a href="" class="date" id="date"><b>{{i}}</b></a>
                    {%endfor%}
                    
                    
                </div>

                <section class="space"></section>
                <button class="option" id="profile" onclick="myself()"><i class="fa fa-user-circle-o"></i><b>{{me}}</b></button>
                <button class="option" id="people" onclick="users()"><i class="fa fa-users" ></i><b>People</b></button>
                <button class="option" id="archive" onclick="window.location='/user/dashboard'"><i class="fa fa-archive"></i><b>Newest Chats</b></button>
                <button class="option" id="donate"><i class="fa fa-money"></i><b>Donate</b></button>
                <button class="option" onclick="window.location='/logout'"  id="logout"><i class="fa fa-sign-out"></i><b>Logout</b></button>
            </div>
               <div id="update">

                <div id="message1">
                    {% for message in msg %}
                        {%if message[0]==me%}
                            <div id="usermsg">
                                <span><img id="profimg"src="/static/prof.jpg" alt=""><c id="name-user" class="name-user">{{message[0]}}</c></span>
                                <div class="message">
                                    {{message[1]}}
                                </div>
                                <button class="like" id="{{message[2]}}" onclick="getL({{message[2]}})">{{message[3]}}<i class="fa fa-heart"></i></button>
                                <button id="delete" onclick="trashF({{message[2]}})"><i class="fa fa-trash"></i></button>
                                
                                
                            </div>
                        {%else%}
                            <div id="pblcmsg">
                                <span><img id="profimg"src="/static/prof.jpg" alt=""><c id="name-users" class="name-user">{{message[0]}}</c></span>
                                <div class="message">
                                    {{message[1]}}
                                </div>
                                <button class="like" id="{{message[2]}}" onclick="getL({{message[2]}});">{{message[3]}}<i class="fa fa-heart"></i></button>

                            </div>
                        {%endif%}

                {% endfor %}
                    <button onclick='' id="scroll" class="scroll"><i class="fa fa-sort-down"></i></button>
                </div>
            </div>
                <form action = "/success" method = "post" enctype="multipart/form-data">
                        <input id="upload"><i class="fa fa-paperclip"></i></input>
                        <input type = "submit" value="Upload">
 
                </form>
                 <form id="searchForm" name="searchForm" method="">
                        <input autofocus name="text" type="text" id="text" autocomplete="off"  requied placeholder="Type Message here">
                        <button type="submit" id="send"><i class="fa fa-send"></i></button>
                </form>
            
        </body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<script>
    var check="";
    $(function(){
      window.setInterval(function(){loadnewdata()},1000)
    function loadnewdata(){
      $.ajax({
        url:'/update_user_here',
        type:'POST',
        dataType:'json',
        success:function(data1){
          $(update_user_here).replaceWith(data1);
          var value1 = document.getElementById("update_user_here").innerHTML; 
          if (check!=value1){
            check=value1;
                            var audio = new Audio("https://encryptedmasterchat.pythonanywhere.com/static/mixkit-long-pop-2358.wav");
                audio.play();
          }

        }

      });
    }
  });
</script>
</html>
